<section class="section proyects" id='proyects'>
    <div class="container" #projects>
        <div class="section-box">
            <div data-aos="fade-up" data-aos-duration="1000">
                <h3 class="section-title">
                    <span class='n-section-title'>03.</span> {{"FeatureProjects.Title" | translate}}
                </h3>
            </div>

            @for (project of "FeatureProjects.Projects" | translate; track project.Title) {
            <div class="d-flex proyect-container" data-aos="fade-up" data-aos-duration="1000">
                @if ($even) {
                <owl-carousel-o class='owl-carousel-o' [options]="customOptions">
                    @for (img of project.imgs; track $index) {
                    <ng-template carouselSlide [id]="project.Title+$index">
                        <div #imgContainer class='img-container'>
                            <img (dblclick)="openImage(img)" class='img-feature-proyect rounded' [src]="img"
                                [alt]="project.Title">
                        </div>
                    </ng-template>
                    }

                </owl-carousel-o>
                <div class="img-feature-proyect-container" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img-feature-proyect-box">
                        <div class="img-container" style='width: auto;'>
                            <img class='img-feature-proyect rounded' [src]="project.imgs[0]" [alt]="project.imgs[0]"
                                width='600px'>
                        </div>
                    </div>
                </div>
                }
                <div [ngStyle]="{
                            'proyect-info-right': $even,
                            'proyect-info-left': $odd
                        }" class="h-100" style="background-image: url('{{project.img}}');">
                    <div class="proyect-box">
                        <h4 [ngStyle]="{
                                'text-align': $even ? 'right' : 'left'
                            }" class="feature-proyect">{{"FeatureProjects.Label" | translate}}</h4>
                        <h5 [ngStyle]="{
                                'text-align': $even ? 'right' : 'left'
                            }" class="proyect-name">{{project.Title}}</h5>

                        <div class="proyect-description-box" (click)='debug()'>
                            <p class="mb-0" [innerHTML]="project.Description"></p>
                        </div>
                        <ul [ngStyle]="{
                                'justify-content': $even ? 'flex-end' : 'flex-start'
                            }" class="proyect-skills">
                            @for (technology of project.Technologies; track technology) {
                            <li class="ml-3">
                                <span class="underline technology">{{technology}}</span>
                            </li>
                            }
                        </ul>
                        <div [ngStyle]="{
                                'text-align': $even ? 'right' : 'left'
                            }" class="proyect-links">
                            @if (project['ghLink']) {
                            <a style='color: inherit' [href]="project['ghLink']" target="_blank"><i
                                    class="ml-3 fab fa-github"></i></a>
                            }

                            @if (project['demoLink']) {
                            <a style='color: inherit' [href]="project['demoLink']" target="_blank"><i
                                    class="ml-3 fas fa-external-link-alt"></i></a>
                            }
                        </div>
                    </div>
                </div>
                @if ($odd) {
                <owl-carousel-o class='owl-carousel-o' [options]="customOptions">
                    @for (img of project.imgs; track $index) {
                        <ng-template carouselSlide [id]="project.Title+$index">
                            <div class='img-container'>
                                <img (dblclick)="openImage(img)" class='img-feature-proyect rounded' [src]="img"
                                    [alt]="project.Title">
                            </div>
                        </ng-template>
                    }
                </owl-carousel-o>
                <div class="img-feature-proyect-container" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img-feature-proyect-box">
                        <div class="img-container" style='width: auto;'>
                            <img class='img-feature-proyect rounded' [src]="project.imgs[0]" [alt]="project.imgs[0]"
                                width='600px'>
                        </div>
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>

    <div class="container">
        @defer (on viewport(projects))  {

            <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="section-title">
                    <span class='n-section-title'></span> {{"Interview Tasks" | translate}}
                </h3>
            </div>

            <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/f290770e802d4462951ef2573c1f2465?sid=138ca63c-be15-422f-933f-725a63ae7cdd" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

            <div class="mt-5" style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/c5972491c1bc436c89b16909a8108f1e?sid=b15b2bfb-c2c9-4f8d-8028-a4fd53a6217d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
         } @placeholder(minimum 500ms) {
           <span> Will be overwritten with the external video </span>
         } @loading(after 100ms; minimum 1s) {
           <span> Loading... </span>
         } @error {
           <span> Oops! Failed to download </span>
         }
    </div>
</section>